// header menu section start
.header-menu-section{
    .main{
        .header-menu-main{
            display: flex;
            justify-content: space-around;
            .dr-name-text{
                .dr-name-header{
                    color: $primary-color;
                    font-family: $secondary-font;
                    font-weight: 400;
                    @include font-size(1.7rem);
                    margin: 0;
                }
                .dr-qualification-header{
                    color: #1c2738;
                    font-family: $secondary-font;
                    font-weight: 400;
                    @include font-size(1.2rem);
                    margin: 0;
                }
            }
            .dr-header-menu{
                ul {
                    display: flex;
                    justify-content: center;
                    gap: 15px;
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    height: 100%;
                    align-items: center;
                    flex-direction: column;
                    @media (min-width: 992px) {
                        gap: 45px;
                        flex-direction: row;
                    }
                    li {
                        list-style-type: none;
                        a{
                            text-decoration: none;
                            @include font-size(1.1rem);
                            text-transform: capitalize;
                            color: #262c36;
                            font-family: $primary-font;
                            font-weight: 400;
                            transition: color 0.3s ease-in-out;
                            position: relative;
                            &::after {
                                content: '';
                                position: absolute;
                                left: 0;
                                top: calc(100% + 5px);
                                width: 0;
                                height: 2px;
                                background-color:$secondary-color;
                                transition: width 0.3s ease-in-out;
                            }
                            &:hover{
                                color: $secondary-color;
                                &::after {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
            .header-btn{
                display: inline-flex;
                gap: 15px;
                .header-btn-container{
                    width: 100%;
                    display: inline-flex;
                    height: 100%;
                    flex-direction: column;
                    justify-content: center;
                    .header-btn{
                        text-decoration: none;
                        text-align: center;
                        color: #ffffff;
                        background-color: #279fc1;
                        @include font-size(0.7rem);
                        padding: 10px 25px;
                        display: inline-block;
                        font-family: $primary-font;
                        font-weight: 400;
                        border-radius: 5px;
                        border:1px solid #279fc1;
                        transition: all 0.3s ease-in-out;
                        text-transform: uppercase;
                        &:hover{
                            background-color: transparent;
                            color: #279fc1;
                        }
                    }
                }
                .header-btn-book-appointment-container{
                    width: 100%;
                    display: inline-flex;
                    height: 100%;
                    flex-direction: column;
                    justify-content: center;
                    .header-book-appointment-btn{
                        text-decoration: none;
                        text-align: center;
                        color: #ffffff;
                        background-color: $primary-color;
                        @include font-size(0.7rem);
                        padding: 10px 35px;
                        display: inline-block;
                        font-family: $primary-font;
                        font-weight: 400;
                        border-radius: 5px;
                        border:1px solid $primary-color;
                        transition: all 0.3s ease-in-out;
                        text-transform: uppercase;
                        &:hover{
                            background-color: transparent;
                            color: #279fc1;
                        }
                    }
                }  
            }
        }
    }
}