.homepage{
    background-color: #f3f4f9;
}
// hero section start
.hero-section{
    background-color: #ffffff;
    .hero-column{
        .hero-heading{
            padding-top: 130px;
            color: #1c2738;
            font-family: $secondary-font;
            font-weight: 400;
            @include font-size(3.7rem);
            margin: 0;
        }
        .hero-text{
            color: #1c2738;
            font-family: $primary-font;
            font-weight: 400;
            margin: 0;
            padding-top: 10px;
            padding-bottom: 15px;
            @include font-size(1.2rem);
        }
        .hero-pointer{
            font-family: $primary-font;
            font-weight: 500;
            color: $secondary-color;
            @include font-size(1.1rem);
            margin: 0;
            .hero-icon-box{
                position: relative;
                display: inline-block;
                vertical-align: middle;
                svg{
                    height: 10px;
                    width: 10px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    fill: $secondary-color;
                }
            }  
        }
       .hero-btn-container{
           width: 100%;
           padding-top: 30px;
           .hero-btn{
            text-decoration: none;
            text-align: center;
            color: #ffffff;
            background-color: $primary-color;
            @include font-size(0.9rem);
            padding: 12px 20px;
            display: inline-block;
            font-family: $primary-font;
            font-weight: 400;
            border-radius: 5px;
            border:1px solid $primary-color;
            transition: all 0.3s ease-in-out;
            text-transform: uppercase;
            &:hover{
                background-color: transparent;
                color: $primary-color;
            }
           }
       } 
    }
}
// our store section start 
.our-store-section{
    margin-top: 50px;
    margin-bottom: 80px;
    .our-store-main{
        display: flex;
        justify-content: center;
        .our-store-text-image{
            box-shadow:0 0 90px #cececf94;
            border-radius: 15px;
            padding: 40px 20px;
            transition: all 0.2s ease-in-out;
            width: 20%;
           .store-icon-img{
            display: flex;
            margin: 0 auto;
            }
            .store-white-icon-img{
                display: none;
            }
            .our-store{
                padding-top: 20px;
                text-align: center;
                font-family: $primary-font;
                font-weight: 500;
                color: #1c2738;
                @include font-size(1.3rem);
                margin: 0;
                transition: color 0.2s ease-in-out;
            }
            .our-store-text{
                text-align: center;
                font-family: $primary-font;
                font-weight: 300;
                color: #1c2738;
                @include font-size(1.2rem);
                margin: 0;
                transition: color 0.2s ease-in-out;
            } 
            &:hover{
                background-color: $primary-color;
                transform: scale(1.1);
                .our-store{
                    color: #ffffff;
                }
                .our-store-text{
                    color: #ffffff;
                }
                .store-icon-img{
                    display: none;
                }
                .store-white-icon-img{
                    display: flex;
                    margin: 0 auto;
                    display: block;
                }
            }
        }
        
    }
}

// Mission Statement section start
.mission-statement-section{
    .mission-statement-column{
        padding: 0;
        .mission-statement-heading{
            color: #1c2738;
            font-family: $secondary-font;
            font-weight: 400;
            @include font-size(3.7rem);
            span{
                color: $primary-color;
                text-decoration-line: underline;
                text-decoration-thickness: 3px;
                text-underline-offset: 0.1em; 
            }
        }
        .mission-statement-text{
            font-family: $primary-font;
            font-weight: 500;
            color: #6c6d6e;
            padding: 0;
            margin: 0;
            @include font-size(1.1rem);
            padding-top: 10px;
        }
        .mission-statement-text-second{
            font-family: $primary-font;
            font-weight: 500;
            color: #6c6d6e;
            padding: 0;
            margin: 0;
            @include font-size(1.1rem);
            padding-top: 15px;
            padding-bottom: 20px;
        }
        .mission-statement-pointer{
            font-family: $primary-font;
            font-weight: 500;
            color: #19191a;
            @include font-size(1.1rem);
            line-height: 1.7;
            .icon-box{
                height:15px;
                width: 15px;
                position: relative;
                display: inline-block;
                border-radius: 100%;
                background-color: #54b8e9;
                vertical-align: middle;
                svg{
                    height: 8px;
                    width: 8px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    fill: #fff;
                }
            }
        }  
        .mission-statement-btn-container{
            width: 100%;
            margin-top: 44px;
            .mission-statement-btn{
                text-decoration: none;
                text-align: center;
                color: #ffffff;
                background-color: $primary-color;
                @include font-size(0.9rem);
                padding: 15px 20px;
                display: inline-block;
                font-family: $primary-font;
                font-weight: 400;
                border-radius: 5px;
                border:1px solid $primary-color;
                transition: all 0.3s ease-in-out;
                text-transform: uppercase;
                &:hover{
                    background-color: transparent;
                    color: $primary-color;
                }
            }
        } 
    }
    .mission-statement-img{
        padding: 0;
        .mission-img{
        }
    }
    
}

// Treatment section start
.treatment-section{
    margin-bottom: 50px;
    .treatment-heading{
        color: #1c2738;
        font-family: $secondary-font;
        font-weight: 400;
        @include font-size(3.7rem);
        text-align: center;
    }
    .slider-container{
        position: relative;
        padding: 0;
        @media (min-width:768px) {
            padding: 2rem 5rem;
        }
        .tns-outer{
            .tns-controls{
                    position: absolute;
                    z-index: 3;
                    transform: translate(-50% ,-50%);
                    top: 50%;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    left: 50%;
                    pointer-events: none;
                button{
                    background: none;
                    // border: none;
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    box-shadow: none;
                    outline: none;
                    position: relative;
                    border: none;
                    background: #fff;
                    pointer-events: all;
                    svg{
                        fill: $secondary-color;
                        height: 20px;
                        width: 20px;
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                    }
                }
            }
        
        }

        .slides{
            .slide{
                .treatment-text{
                    .card{
                        border: none;
                        border-radius: 15px;
                        box-shadow:1px 1px 7px 0px rgb(206 206 207 / 26%);
                        transition: background-color 0.3s ease-in-out;
                        .treatment-img-container{
                            .card-img-top{
                                border-radius: 100%;
                                width: 70%;
                                display: flex;
                                margin: 0 auto;
                                border: 3px solid $primary-color;
                                transition: border 0.3s ease-in-out;
                            }
                        }
                        .card-body{
                            text-align: center;
                            .treatment-card-heading-text{
                                color: #1c2738;
                                font-family: $secondary-font;
                                font-weight: 400;
                                @include font-size(1.3rem);
                                transition: color 0.3s ease-in-out;
                                padding-top: 10px;
                            }
                            .treatment-view-btn{
                                font-family: $primary-font;
                                font-weight: 600;
                                color: $primary-color;
                                @include font-size(1.1rem);
                                text-decoration: none;
                                padding-top: 30px;
                                display: inline-block;
                                transition: color 0.3s ease-in-out;
                            }
                        }
                        &:hover{
                            background-color: $primary-color;
                            .card-img-top{
                                border: 3px solid #ffffff;
                            }
                            .treatment-card-heading-text{
                                color: #ffffff;
                            }
                            .treatment-view-btn{
                                color: #ffffff;
                            }
                        }
                    }
                }
            }
        }  
    }
    .treatment-btn-container{
        width: 100%;
        margin-top: 20px;
        text-align: center;
        .treatment-btn{
            text-decoration: none;
            text-align: center;
            color: #ffffff;
            background-color: $primary-color;
            @include font-size(0.9rem);
            padding: 15px 35px;
            display: inline-block;
            font-family: $primary-font;
            font-weight: 400;
            border-radius: 5px;
            border:1px solid $primary-color;
            transition: all 0.3s ease-in-out;
            text-transform: uppercase;
            &:hover{
                background-color: transparent;
                color: $primary-color;
            }
        }
    }
}

//  Available Locations section Start
.available-locations-section{
    margin-bottom: 50px;
    .available-locations-heading{
        color: #1c2738;
        font-family: $secondary-font;
        font-weight: 400;
        @include font-size(3.7rem);
        text-align: center;
        text-transform: capitalize;
        padding-bottom: 20px;
    }
    .available-locations-text{
        .card{
            border-radius: 10px;
            border: none;
            box-shadow:0 0 90px #cececf94;
            transition: background-color 0.3s ease-in-out;
            .img-container{
                padding: 16px;
                .card-img-top{
                    border-radius: 10px;
                }
            }
            .card-body{
                text-align: center;
                padding-bottom: 40px;
                .card-date{
                    font-family: $primary-font;
                    font-weight: 500;
                    color: #1c2738;
                    @include font-size(1.3rem);
                    padding: 0;
                    margin: 0;
                    padding-top: 10px;
                    text-transform: uppercase;
                    transition: color 0.3s ease-in-out;
                }
                .card-heading-text{
                    font-family: $secondary-font;
                    font-weight: 400;
                    color: #1c2738;
                    @include font-size(2.7rem);
                    padding-top: 10px;
                    text-transform: capitalize;
                    transition: color 0.3s ease-in-out;
                }
                .card-text{
                    font-family: $primary-font;
                    font-weight: 300;
                    color: #1c2738;
                    @include font-size(1.3rem);
                    padding-top: 10px;
                    text-transform: capitalize;
                    transition: color 0.3s ease-in-out;
                }
                .view-btn{
                    font-family: $primary-font;
                    font-weight: 600;
                    color: $primary-color;
                    @include font-size(1.1rem);
                    text-decoration: none;
                    text-transform: uppercase;
                    transition: color 0.3s ease-in-out;
                }
            }
            &:hover{
                background-color: $secondary-color;
                .card-date{
                    color: #7dc4f2;
                }
                .card-heading-text{
                    color: #ffffff;
                }
                .card-text{
                    color: #ffffff;
                }
                .view-btn{
                    color: #7dc4f2;
                }
            }
        }
    }
}

// Our Membership Benefits section start
.membership-benefits-section{
    margin-top: 80px;
    margin-bottom: 200px;
    .membership-main-section{
        position: relative;
        .membership-benefits-heading{
            padding-top: 40px;
            color: #1c2738;
            font-family: $secondary-font;
            font-weight: 400;
            @include font-size(3.7rem);
        }
        .membership-benefits-heading-text{
            margin: 0;
            font-family: $primary-font;
            font-weight: 400;
            color: #54575b;
            @include font-size(1.2rem);
            padding: 10px 0;
        }
        .pointer{
            padding: 0;
            margin: 0;
            color: #19191a;
            @include font-size(1rem);
            font-family: $primary-font;
            font-weight: 400;
            padding-top: 5px;
            .icon-box{
                height:15px;
                width: 15px;
                position: relative;
                display: inline-block;
                border-radius: 100%;
                background-color: #54b8e9;
                vertical-align: middle;
                svg{
                    height: 8px;
                    width: 8px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    fill: #fff;
                }
            }
        }
        .membership-image{
            display: flex;
            margin: 0 auto;
            width: 100%;
            border-radius: 15px;
            box-shadow: 3px 5px 17px 5px #f3f4f9cc;
        }
        .register-text{
            position: absolute;
            top: 85%;
            display: flex;
            width: 72%;
            justify-content: space-between;
            background-color: $secondary-color;
            padding: 30px 40px;
            border-radius: 15px;
            .register-left{
                .register-heading{
                    color: #fff;
                    font-family: $secondary-font;
                    font-weight: 400;
                    @include font-size(1.9rem);
                    margin: 0;
                }
                .register-heading-text{
                    padding: 0;
                    margin: 0;
                    font-family: $primary-font;
                    font-weight: 400;
                    color: #ffffff;
                    @include font-size(0.9rem);
                    padding-top: 5px;
                }  
            }
            .register-right{
                .register-btn-container{
                    width: 100%;
                    display: inline-flex;
                    height: 100%;
                    flex-direction: column;
                    justify-content: center;
                    .register-btn{
                        text-decoration: none;
                        text-align: center;
                        color: #ffffff;
                        background-color: #191919;
                        @include font-size(0.9rem);
                        padding: 15px 30px;
                        display: inline-block;
                        font-family: $primary-font;
                        font-weight: 400;
                        border-radius: 5px;
                        border:1px solid #191919;
                        transition: all 0.3s ease-in-out;
                        text-transform: uppercase;
                        svg{
                            height: 12px;
                            width: 12px;
                            fill: #fff;
                        }
                    }
                }   
            } 
        }
    }  
    .bg_icon{
        position: relative;
        .icon-bg{
            position: absolute;
            right: 28%;
            top: 14px;
        }
    } 
}

// blog section
.blog-section{
    margin-top: 50px;
    margin-bottom: 80px;
    .blog-heading{
        font-family: $secondary-font;
        font-weight: 400;
        color: #1c2738;
        @include font-size(3.1rem);
        text-align: center;
        padding-bottom: 100px;
    }
    .blog-text{
        .card{
            border: none;
            border-radius: 10px;
            .blog-img-container{
                .card-img-top{
                    width: 87%;
                    margin-top: -22%;
                    border-top-left-radius:10px;
                    border-top-right-radius:10px;
                    border-bottom-right-radius:10px;
                }
            }
            .card-body{
                padding: 36px;
                .card-date{
                    margin: 0;
                    padding: 0;
                    color: $secondary-color;
                    font-family: $primary-font;
                    font-weight: 500;
                    @include font-size(1rem);
                }
                .card-heading-text{
                    padding-top: 15px;
                    font-family: $secondary-font;
                    font-weight: 400;
                    color: #1c2738;
                    @include font-size(1.4rem);
                }
                .card-text{
                    margin: 0;
                    padding: 0;
                    color: #7b7c7d;
                    font-family: $primary-font;
                    font-weight: 400;
                    @include font-size(1.1rem);
                    line-height: 1.3;
                    padding-bottom: 25px;
                }
                .readmore-btn{
                    text-transform: uppercase;
                    font-family: $primary-font;
                    font-weight: 600;
                    @include font-size(1rem);
                    color: $secondary-color;
                    text-decoration: none;
                    svg{
                        height: 13px;
                        width: 13px;
                        fill: $secondary-color;
                    }
                }
            }
        }
    }
    .blog-btn-container{
        width: 100%;
        margin-top: 50px;
        text-align: center;
        .blog-btn{
            text-decoration: none;
            text-align: center;
            color: #ffffff;
            background-color: $primary-color;
            @include font-size(0.9rem);
            padding: 15px 35px;
            display: inline-block;
            font-family: $primary-font;
            font-weight: 400;
            border-radius: 5px;
            border:1px solid $primary-color;
            transition: all 0.3s ease-in-out;
            text-transform: uppercase;
            &:hover{
                background-color: transparent;
                color: $primary-color;
            }
        }
    }
}

// faq section start 
.faq-section{
    margin-bottom: 80px;
    .faq-section-heading{
        font-family: $secondary-font;
        font-weight: 400;
        color: #1c2738;
        @include font-size(3.1rem);
        text-align: center;
        padding-bottom: 30px;
    }
    .accordion-body{
       background-color: #f3f4f9;
       font-family: $primary-font;
       font-weight: 400;
       color: #7a7a7a;
       @include font-size(1rem);
    }
    .accordion-button{
        font-family: $secondary-font;
        font-weight: 400;
        color: #3f3f3f;
        @include font-size(1.2rem);
        &::after{
            background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cpath%20d%3D%22M432%20256c0%2017.69-14.33%2032.01-32%2032.01H256v144c0%2017.69-14.33%2031.99-32%2031.99s-32-14.3-32-31.99v-144H48c-17.67%200-32-14.32-32-32.01s14.33-31.99%2032-31.99H192v-144c0-17.69%2014.33-32.01%2032-32.01s32%2014.32%2032%2032.01v144h144C417.7%20224%20432%20238.3%20432%20256z%22%2F%3E%3C%2Fsvg%3E);
        }
        &:not(.collapsed){
            background-color: #fff;
            &::after{
                background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cpath%20d%3D%22M400%20288h-352c-17.69%200-32-14.32-32-32.01s14.31-31.99%2032-31.99h352c17.69%200%2032%2014.3%2032%2031.99S417.7%20288%20400%20288z%22%2F%3E%3C%2Fsvg%3E);
            }
        }
      
    }
    .accordion-button:focus {
        box-shadow:none;
    }
    .accordion-item{
        margin-bottom: 10px;
        border-top: 0;
        border-bottom: 0;
    } 
    
}

// about us section start
.about-us-section{
    margin-bottom: 50px;
    .about-us-heading{
        color: #1c2738;
        font-family: $secondary-font;
        font-weight: 400;
        @include font-size(3.1rem);
    }
    .about-us-text{
        font-family: $primary-font;
        font-weight: 400;
        color: #54575b;
        @include font-size(0.9rem);
        padding: 0;
        margin: 0;
        padding-bottom: 10px;
    }
    .about-us-text-second{
        font-family: $primary-font;
        font-weight: 400;
        color: #6c6d6e;
        @include font-size(0.9rem);
        padding: 0;
        margin: 0;
    }
    .about-us-btn-container{
        width: 100%;
        margin-top: 44px;
        .about-us-btn{
            text-decoration: none;
            text-align: center;
            color: #ffffff;
            background-color: $primary-color;
            @include font-size(0.9rem);
            padding: 15px 20px;
            display: inline-block;
            font-family: $primary-font;
            font-weight: 400;
            border-radius: 5px;
            border:1px solid $primary-color;
            transition: all 0.3s ease-in-out;
            text-transform: uppercase;
            &:hover{
                background-color: transparent;
                color: $primary-color;
            }
        }
    }
}

// counter section start 
.counter-section{
    margin-top: 50px;
    margin-bottom: 80px;
    .counter-main{
        display: flex;
        justify-content: center;
        gap: 3px;
        .per-text-image{
            box-shadow:0 0 90px #cececf94;
            border-radius: 15px;
            padding: 40px 20px;
            transition: all 0.2s ease-in-out;
            width: 20%;
           .icon-img{
            display: flex;
            margin: 0 auto;
            }
            .counter{
                padding-top: 20px;
                text-align: center;
                font-family: $primary-font;
                font-weight: 700;
                color: #1c2738;
                @include font-size(1.9rem);
                margin: 0;
                transition: color 0.2s ease-in-out;
            }
            .counter-text{
                text-align: center;
                font-family: $primary-font;
                font-weight: 500;
                color: #1c2738;
                @include font-size(1.4rem);
                margin: 0;
                transition: color 0.2s ease-in-out;
            } 
            &:hover{
                background-color: $primary-color;
                transform: scale(1.1);
                .counter{
                    color: #ffffff;
                }
                .counter-text{
                    color: #ffffff;
                }
            }
        }
        
    }
}

// contact us section start
.contact-us-section{
    padding-bottom: 80px;
    position: relative;
    .contact-us-heading{
        font-family: $secondary-font;
        font-weight: 400;
        color: #1c2738;
        @include font-size(3.1rem);
        text-align: center;
        margin: 0;
    }
    .contact-us-heading-text{
        color: #54575b;
        font-family: $primary-font;
        font-weight: 500;
        @include font-size(1.1rem);
        text-align: center;
        margin: 0;
        padding-bottom: 65px;
    }
    .contact-us-dr{
        box-shadow:0 0 90px #cececf94;
        border-radius: 15px;
        padding: 50px 60px;
        .contact-us-dr-name{
            font-family: $secondary-font;
            font-weight: 400;
            color: #1c2738;
            @include font-size(2.5rem);
            margin: 0;
        }
        .contact-us-dr-qualification{
            color: $primary-color;
            font-family: $primary-font;
            font-weight: 500;
            @include font-size(1.3rem);
            margin: 0;
        }
        .contact-us-chamber{
            color: #1c2738;
            font-family: $primary-font;
            font-weight: 400;
            @include font-size(1.2rem);
            margin: 0;
            line-height:initial;
            padding: 15px 0;
        }
        .chamber-address{
            color: #1c2738;
            font-family: $primary-font;
            font-weight: 400;
            @include font-size(1.3rem);
            margin: 0;
            line-height: initial;
            padding-bottom: 15px;
            span{
                font-weight: 500;
            }
        }
        .chamber-day{
            color: #1c2738;
            font-family: $primary-font;
            font-weight: 600;
            @include font-size(1.3rem);
            margin: 0;
            line-height: initial;
            span{
                font-weight: 500;
            } 
        }
        .chamber-time{
            color: #1c2738;
            font-family: $primary-font;
            font-weight: 400;
            @include font-size(1.3rem);
            margin: 0;
        }
        .chamber-open{
            color: #1c2738;
            font-family: $primary-font;
            font-weight: 300;
            @include font-size(1.3rem);
            margin: 0;
            padding-top: 15px;
        }
    }
    .contact-us-form{
        background-color: #1770aa;
        padding: 70px 60px;
        border-radius: 15px;
        position: relative;
        margin-top: 120px;
        .contact-us-form-text{
            color: #ffffff;
            font-family: $secondary-font;
            font-weight: 400;
            @include font-size(3.1rem);
            margin: 0;
            padding-bottom: 25px;
        }
        .contact-card{
            form{
                input{
                    width: 100%;
                    background-color: #1b7bb9;
                    @include padding-right(1.2rem);
                    @include padding-left(1.2rem);
                    @include padding-top(0.9rem);
                    @include padding-bottom(0.9rem);
                    border-radius: 8px;
                    border: none;
                    color: #eef4f7;
                    outline: none;
                    @include font-size(0.9rem);
                    font-family: $primary-font;
                    font-weight: 400;
                    &::placeholder{
                        color: #eef4f7;
                    }
                }
                textarea{
                    width: 100%;
                    @include padding-right(1.2rem);
                    @include padding-left(1.2rem);
                    @include padding-top(0.9rem);
                    border-radius: 8px;
                    border: none;
                    @include font-size(0.9rem);
                    outline: none;
                    background-color: #1b7bb9;
                    &::placeholder{
                        color: #eef4f7;
                    }
                }
                .btn-container{
                    margin-top: 25px;
                    .btn-submit{
                        text-decoration: none;
                        text-align: center;
                        color: #ffffff;
                        background-color: #191919;
                        @include font-size(0.9rem);
                        padding: 10px 50px;
                        display: inline-block;
                        font-family: $primary-font;
                        font-weight: 600;
                        border:2px solid #191919;
                        transition: all 0.3s ease-in-out;
                        text-transform: uppercase;
                        border-radius: 5px;
                        width: 100%;
                        @media (min-width:576px) {
                            width: auto;
                        }
                       
                    }
                }
            }
        }
        .contact-image-text{
            width: 74%;
            position: absolute;
            top: -10%;
            left: 35%;
            .contact-link{
                display: block;
                background-color: $primary-color;
                text-decoration: none;
                border-radius: 20px;
                .phone-text{
                    display: flex;
                    padding: 11px;
                    .phone-image{
                    }
                    .phone-number-text{
                        font-family: $primary-font;
                        font-weight: 400;
                        @include font-size(1.2rem);
                        color: #ffffff;
                        margin: 0;
                        line-height: 0.9;
                        padding:20px 0 15px 0;
                        span{
                            font-family: $secondary-font;
                            font-weight: 400;
                            @include font-size(3rem);
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
    .contact-image{
        position: absolute;
        left: 45%;
        transform: translateX(-51%);
        bottom: 0;
        pointer-events: none;
        .contact-img{
            width: 799px;
        }
    }
}